---
layout: base.njk
---
<header>
    <h1>{{Name}}</h1>
    <img src="/src/images/Pog.svg" alt="Gun" class="logo">
</header>
<main class = "container">

    <div class = "start">
        
        <div class = "BildText">   
            <img src={{image}} alt="Picture" class="Photo">
            {%include "contact.njk" %}
        
        </div>
        
        {%include "navigation.njk" %}

    </div>
    {{content | safe}}
   
</main> 
{%include "footer.njk"%}