<footer>

    <p class="end">      This site is made for school work(as a HTML,CSS, SASS and 11ty exercice) and i do not
        own the pictures the copyright please contact NTI gymnasiet in umeå to get
        it take down</p>
    </footer>