<nav>
    <ul class = "navi">
            {% for item in navigation %}
                <li>
                    <a href=#{{item.tag}}>{{item.name}}</a>
                </li>
            {% endfor %}
    </ul>
</nav>