@use "reset";
html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #aeaeae;
}
.end {
  width: 100%;
  background-color: #424242;
  color:#aeaeae;

}
header{
    background-image: url(../images/ja.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 5rem;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefc26;
    
}
.container {
    position: relative;
    max-width: 64rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .start{
    display: flex;
    justify-content: space-around;
    @media(max-width: 600px){
      display: block;
    }
  }
  ul{
    margin: 0;
    padding: 2rem;
  }
  .Photo{
    height: 30rem;
    width: auto;
    @media(max-width: 600px){
      height: 20rem;
      width: auto;
    }
    border-radius: 2rem;
    
  }
  
    .navi{
        font-size: 30px;
    @media(max-width: 600px){
      font-size: 20px;
    }
    }
  
  
.logo {
  height: 2rem;
  width: 5rem;
  padding-left: 1rem;
}